table {
    border-collapse: collapse;
    width: 94%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    margin-left: 90px;
}
body {
    background-color: #2e3323;
    margin: 0;
    top: 0;
    padding: 0;
}
.imagemFilme {
    border: solid 5px black;
    border-radius: 10px;
    width: 140px;
    margin: 7px 0 7px 7px;
    box-shadow: 5px 5px 10px;
    transition: transform 1s ease;
}
.imagemFilme:hover {
    transform: scale(1.1);
}
.selecao {
    display: flex;
    background-color: #16e094;
    margin-right: 10px;
    border-radius: 10px;
}
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.informacao {
    margin-left: 10px;
}
td {
    width: 300px;
}
th {
    height: 60px;
    font-size: 40px;
    color: #197dc0;
}
#principal {
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

header {
    background-color: #16e094;
    padding: 10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 30px;
    border: solid 2px black;
    height: 120px;
}
#cabeca {
    display: flex;
    width: 600px;
    margin: 0 auto;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    position: absolute;
    top: 0;
    left: 5px;
}
footer {
    align-items: center;
    width: 1000px;
    margin: 100px auto 0 auto;
    text-align: center;
}
#final {
    display: flex;
    margin: auto 0;
    justify-content: space-around;
    width: 1000px;
    margin-top: 60px;
}
.textofinal {
    background-color: #16E094;
    padding: 10px 50px 10px 50px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 20px black;
    color: white;
}
form {
    margin-top: -15px;
}
#direitos {
    color: #25fa11;
}
button,input {
    border-radius: 10px;
}
a {
    color: #0727F5;
}
aside {
    background-color: #16E094;
    height: 950px;
    top: 142px;
    position: absolute;
    width: 550px;
    border: solid 2px black;
    display: flex;
    transform: translateX(-491px);
    transition: transform 1s ease;
}
aside:hover {
    transform: translateX(0);
    transition: 1s ease;
}
#filmes {
    margin-top: 350px;
    margin-left: 8px;
}
.filmeslados {
    display: flex;
    margin-top: 16px;
    margin-left: 20px;
    p {
        margin: 30px 0 0 10px;
        font-weight: bold;
    }
    img {
        border-radius: 10px;
        border: solid black 2px;
    }
}
.filmeslados:hover {
    background-color: #0fec97;
    padding: 15px;
    border-radius: 20px;
    img {
        box-shadow: 5px 5px 10px white;
    }
}
.link {
    text-decoration: none;
    color: black;
}
#hr {
    background-color: black;
    width: 1px;
    margin-left: 70px;
}
@keyframes animacaoindo {
    from {margin-left: -490px;}
    to {margin-left: 0px;}
}
.saibamais {
    background-color: #16e0d9;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    bottom: 10px;
    left: 175px;
    box-shadow: 1px 4px rgb(3, 6, 42);
}
.saibamais:hover {
    background-color: #15b8b2;
}
#conta {
    position: absolute;
    right: 140px;
    top: 45px;
    padding: 10px;
    background-color: #16e0d9;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
#sobre {
    background-color: #16e0d9;
    position: absolute;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    top: 45px;
    color: white;
    box-shadow: 5px 5px 10px black;
}
#conta:hover {
    background-color: #15b8b2;
}
#sobre:hover {
    background-color: #15b8b2;
}
#sobre:hover > a {
    color: rgb(224, 214, 214);
}
#conta:hover > a {
    color: rgb(224, 214, 214);
}
a {
    text-decoration: none;
    color: white;
}
#git {
    text-decoration: underline;
}