body {
    margin: 0;
    top: 0;
    padding: 0;
}
#tudo {
    background: linear-gradient(135deg, #1c1f15 0%, #2e3323 50%, #4e5643 100%);
    width: 1516px;
    height: 709px;
    padding: 10px;
}
#criarconta {
    top: 28px;
    position: relative;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
#criar {
    position: absolute;
    top: 55px;
    left: 175px;
    color: #16e094;
    font-size: 50px;
}
input {
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
}
input:focus {
    outline: none;
}
.input {
    display: flex;
    margin-top: 20px;
}
.caixalateral {
    border-radius: 10px 0  0 10px;
    border: 2px solid black;
    border-right: 0px;
    width: 40px;
    height: 52px;
    background-color: white;
}
form {
    position: absolute;
    top: 180px;
    left: 130px;
}
#botao {
    color: white;
    position: absolute;
    left: 0px;
    border-radius: 10px;
    background-color: #16e094;
    border: 2px solid black;
    padding: 18px 130px 18px 130px;
    text-decoration: none;
    top: 270px;
}